.card.books{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.preciopp{
        display: flex;
        justify-content: center;
        align-items: center;
}
a.badge{
    font-size: 100%;
}
